<%#= image_tag "icons/icon_edit.svg",
  id: 'edit',
  class: 'icon-round',
  data:  { toggle: "modal",
   target: "#editProfileModal"
 } %>

<!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editProfileModal">
  Edit my Profile
</button> -->

<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-color">

      <div class="modal-body">

        <button type="button" class="close" id="close-edit-profile" data-dismiss="modal" aria-label="Close">
          <%# <span aria-hidden="true">&times;</span> %>
          <%= image_tag "icons/icon_esc.svg", alt: "alttext", class: '' %>
        </button>

        <div class="d-flex justify-content-around modal-navigation">
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseEditProfile" role="button" aria-expanded="false" aria-controls="multiCollapseEditProfile">General</a>
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseUploadAvatar" role="button" aria-expanded="false" aria-controls="multiCollapseUploadAvatar">Profile Picture</a>
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseEditSkill" role="button" aria-expanded="false" aria-controls="multiCollapseEditSkill">Skills</a>
        </div>

        <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="row">
            <div class="col">
              <div class="collapse show multi-collapse" id="multiCollapseEditProfile">
                <div class="card card-body">
                  <div class="form-inputs">
                    <%= f.input :full_name, label: 'Full Name', placeholder: "** required **"%>
                    <%= f.input :nickname, label: 'Nickname'%>
                    <%= f.input :email, label: 'Email' %>
                    <%= f.input :phone, label: 'Phone Number'%>
                    <%= f.input :description, label: 'Bio'%>
                  </div>
                  <div class="modal-footer">
                    <%= f.button :submit, class: 'btn btn-primary', value: 'Submit' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseUploadAvatar">
                <div class="card card-body">
                  <div class="form-inputs">
                    <%= f.input :avatar, label: 'Profile Picture ( ** required** )', as: :file %>
                  </div>
                  <div class="modal-footer">
                    <%= f.button :submit, class: 'btn btn-primary', value: 'Submit' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseEditSkill">
                <div class="card card-body">
                  <div class="form-inputs">
                    <%= f.association :skills, collection: Skill.order('name ASC'), as: :check_boxes, label: 'Job skills:' %>

                    <div class="modal-footer">
                      <%= f.button :submit, class: 'btn btn-primary', value: 'Submit' %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>

    </div>
  </div>
</div>
