<%#= image_tag "icons/icon_edit.svg",
  id: 'edit',
  class: 'icon-round',
  data:  { toggle: "modal",
   target: "#editProfileModal"
 } %>

<!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editProfileModal">
  Edit my Profile
</button> -->

<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-color">
      <div class="modal-header">
        <h2 class="modal-title" id="editProfileModalTitle">Edit Profile</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for(@user) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :full_name, placeholder: 'Name', label: false %>
            <%= f.input :nickname, placeholder: 'Nickname', label: false %>
            <%= f.input :email, placeholder: 'Email', label: false %>
            <%= f.input :phone, placeholder: 'Phone Number', label: false %>
            <%= f.input :description, placeholder: 'Bio', label: false %>
            <%= f.input :avatar, as: :file %>
            <!-- uncomment below when cloudinary installed -->
            <%#= f.input :photo, as: :file, label: 'Avatar:' %>
            <%= f.association :skills, as: :check_boxes, label: 'Job skills:' %>
          </div>

          <div class="modal-footer">
            <%= f.button :submit, class: 'btn btn-primary', value: 'Edit my profile' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
