<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-color">
      <div class="modal-body">

        <button type="button" class="close" id="close-edit-event" data-dismiss="modal" aria-label="Close">
          <%= image_tag "icons/icon_esc.svg", alt: "alttext", class: '' %>
        </button>

        <div class="d-flex justify-content-around modal-navigation">
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseEditEvent" role="button" aria-expanded="false" aria-controls="multiCollapseEditEvent">Edit Event</a>
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseEditMember" role="button" aria-expanded="false" aria-controls="multiCollapseEditMember">Manage Members</a>
        </div>

        <%= simple_form_for(@event) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="row">
            <div class="col">
              <div class="collapse show multi-collapse" id="multiCollapseEditEvent">
                <div class="card card-body">
                  <div class="form-inputs">
                      <%= f.input :venue, label: 'Venue' %>
                      <%= f.input :city, label: 'City' %>
                      <%= f.input :show_start_at, label: 'Start Time', html5: true %>
                      <%= f.input :schedule, as: :rich_text_area, label: 'Schedule', placeholder: '' %>
                  </div>
                  <div class="modal-footer">
                    <%= f.button :submit, class: 'btn btn-primary', value: 'Update event' %>
                    <%= link_to 'Delete this event', event_path(@event), method: :delete, class: 'btn delete-button' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseEditMember">
                <div class="card card-body scrollable">
                  <div class="form-inputs">
                    <%= f.simple_fields_for(:tour_members) do |ftm| %>
                      <%= render 'tour_member_fields', f: ftm %>
                    <% end %>
                    <div class="links"><%= link_to_add_association 'Add a tour member', f, :tour_members %></div>

                  </div>
                </div>
                    <div class="modal-footer">
                      <%= f.button :submit, class: 'btn btn-primary', value: 'Update event' %>
                    </div>
              </div>
            </div>

          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
