<div class="modal fade" id="viewTourMembersModal" tabindex="-1" role="dialog" aria-labelledby="viewTourMembersModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-color">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <%= image_tag "icons/icon_esc.svg", alt: "alttext", class: '' %>
        </button>
      </div>
      <div class="modal-body">
        <h1 class="pb-3"> Tour Members </h1>
        <% @uniq_tour_members.each do |tm| %>
          <div class="card-member ml-2">
            <div class="card-member-block">
              <div class="row">
                <div class="col-2" id="member">
                  <% if  tm.user.avatar.attached? %>
                      <%= cl_image_tag tm.user.avatar.key, crop: :fill, class: 'avatar-medium-bordered' %>
                    <!-- else pour image par défaut -->
                  <% else %>
                    <%= cl_image_tag("https://res.cloudinary.com/dli73zoz7/image/upload/v1659793675/anonymous-avatar-icon-25_r45hmv.png",
                      crop: :fill, 
                      class: 'avatar-medium-bordered')
                    %>
                  <% end %>
                </div>
                <div class="col-10" id="member-card">
                  <h3><strong> <%= link_to (tm.user.full_name ? tm.user.full_name : tm.user.email), user_path(tm.user) %> </strong></h3>
                  <p> <%= tm.job_title %> </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
