<!-- Add event plus icon -->

<%= image_tag "icons/icon_plus.svg",
  id: 'plus',
  class: 'icon-round',
  data:  { toggle: "modal",
  target: "#addEventModal"
 } %>

<!-- Notif icon -->

<%= link_to notifications_path do %>
  <%= image_tag "icons/icon_notif.svg", class: 'icon-round', id: 'notif' %>
<% end %>

<!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addEventModal">
  Add an event
</button>
 -->

<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-color">
      <div class="modal-header">
        <h1 class="modal-title" id="addEventModalTitle">Add Event</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for([@tour, @event]) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <p class="control-label"> <%= f.input :venue, placeholder: 'Venue', label: false %> </p>
            <p class="control-label"> <%= f.input :city, placeholder: 'City', label: false %> </p>
            <p class="control-label"> <%= f.input :show_start_at, html5: true, label: false %> </p>
            <p class="control-label"> <%= f.input :schedule, as: :rich_text_area, label: 'Schedule', placeholder: 'Text goes here' %> </p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <%= f.button :submit, class: 'btn btn-primary btn-sm', value: 'Add an event' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

