<!-- ADD TOUR plsu icon -->
<%#= image_tag "icons/icon_plus.svg",
  id: 'plus',
  class: 'icon-round add-tour',
  data:  { toggle: "modal",
  target: "#addTourModal"
 } %>

<div class="modal fade" id="addTourModalNEW" tabindex="-1" role="dialog" aria-labelledby="addTourModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-color">

      <div class="modal-body">

        <button type="button" class="close" id="close-add-tour" data-dismiss="modal" aria-label="Close">
          <%# <span aria-hidden="true">&times;</span> %>
          <%= image_tag "icons/icon_esc.svg", alt: "alttext", class: '' %>
        </button>

        <div class="d-flex justify-content-between modal-navigation">
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseAddTour" role="button" aria-expanded="false" aria-controls="multiCollapseAddTour">Step 1</a>
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseAddEvent" role="button" aria-expanded="false" aria-controls="multiCollapseAddEvent">Step 2</a>
          <a class="collapse-button" data-toggle="collapse" href="#multiCollapseAddMember" role="button" aria-expanded="false" aria-controls="multiCollapseAddMember">Step 3</a>
        </div>

        <%= simple_form_for(@tour) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="row">
            <div class="col">
              <div class="collapse show multi-collapse" id="multiCollapseAddTour">
                <div class="card card-body">
                  <div class="form-inputs">
                    <h1 class="pb-3"> Add Tour </h1>
                    <%= f.input :name, label: 'Tour Name' %>
                    <%= f.input :artist_name, label: 'Artist Name' %>
                    <%= f.input :logo, as: :file %>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="button" disabled>Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseAddEvent">
                <div class="card card-body">
                  <div class="form-inputs">
                    <h1 class="pb-3"> Add First Event </h1>
                    <%= f.simple_fields_for(:events) do |fe| %>
                      <%= render 'event_fields', f: fe %>
                    <div class="modal-footer">
                      <button class="btn btn-primary" type="button" disabled>Submit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseAddMember">
                <div class="card card-body">
                  <div class="form-inputs">
                    <h1 class="pb-3"> Invite Members </h1>
                    <%= fe.simple_fields_for(:tour_members) do |ftm| %>
                      <%= ftm.input :job_title, label: 'Job title' %>
                      <%= ftm.input :user_id, collection: User.all, label: 'Member' %>
                      <%= link_to_remove_association 'Remove this tour member', ftm %>
                      <%= render 'tour_member_fields', f: ftm %>
                    <% end %>
                    <div class="links"><%= link_to_add_association 'Add a member', fe, :tour_members %></div>
                    <div class="modal-footer">
                      <%= f.button :submit, class: 'btn btn-primary', value: 'Submit' %>
                    </div>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
