<!-- Edit event icon -->

<%= image_tag "icons/icon_edit.svg",
  id: 'edit',
  class: 'icon-round',
  data:  { toggle: "modal",
  target: "#editEventModal"
 } %>

<!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editEventModal">
  Edit this event
</button> -->

<div class="modal fade" id="editEventModal" tabindex="-1" role="dialog" aria-labelledby="editEventModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-content-color">
      <div class="modal-header">
        <h2 class="modal-title" id="editEventModalTitle">Edit Event</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for(@event) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :venue, label: 'Venue:' %>
            <%= f.input :city, label: 'City:' %>
            <%= f.input :show_start_at, label: 'Show starts at:', html5: true %>
            <%= f.input :schedule, as: :rich_text_area, label: 'Schedule', placeholder: 'Text goes here' %>
          </div>

          <div class="modal-footer">
            <%= link_to 'Delete this event', event_path(@event), method: :delete, class: 'btn btn-secondary btn-sm' %>
            <%= f.button :submit, class: 'btn btn-primary btn-sm', value: 'Edit this event' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
