<div class="container">
  <div class="row justify-content-center">
    <%= image_tag "UI/stage_light_2.png", class: "profile-background" %>
    <div class="col-md-6">
<!-- tour background -->
      <%# if @tour.logo.present? %>
        <!-- <div class="card-tour" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%#= cl_image_path @tour.logo.key, height: 300, width: 400, crop: :fill %>)'> -->
        <!-- </div> -->
      <%# else %>
        <!-- <div class="card-tour" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567942712661-82b9b407abbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1334&q=80)"> -->
        <!-- </div> -->
      <%# end %>
      <!-- end tour background -->
      <div class="profile-avatar">
        <% if  @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, crop: :fill, class: 'avatar-large' %>
          <!-- else pour image par défaut -->
        <% end %>
      </div>

      <div class="profile-description">
        <% if @user.full_name.nil? && @user == current_user%>
          <h1><%= @user.nickname || @user.full_name ? @user.nickname || @user.full_name : @user.email %></h1>
          <% if policy(@user).edit? %>
            <p>Please update your profile <%= render 'layouts/modals/modal_edit_profile', user: @user %></p>
          <% end %>
            <p>Nickname: <%= @user.nickname %></p>
            <p>Name: <%= @user.full_name %></p>
            <p>Email: <%= @user.email %></p>
            <p>Phone: <%= @user.phone %></p>
            <p>Bio: <%= @user.description %></p>
            <p>Skills: </p>
            <ul>
              <% @user.skills.each do |skill| %>
                <li><%= skill.name %></li>
              <% end %>
            </ul>
      <% else %>
        <h1><%= @user.full_name || @user.nickname || @user.email %></h1>
        <% if policy(@user).edit? %>
          <%= render 'layouts/modals/modal_edit_profile', user: @user %>
        <% end %>
        <p>Nickname: <%= @user.nickname %></p>
        <p>Name: <%= @user.full_name %></p>
        <p>Email: <%= link_to @user.email, '#' %></p>
        <p>Phone: <%= link_to @user.phone, 'https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2Ff5f20120-d2de-11e8-b8d4-d6fb90acb7b1.jpg?crop=3383%2C1903%2C34%2C501&resize=1180'%></p>
        <p>Bio: <%= @user.description %></p>
        <p>Skills: </p>
        <ul>
          <% @user.skills.each do |skill| %>
            <li><%= skill.name %></li>
          <% end %>
        </ul>
      <% end %>
      </div>

      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-secondary btn-sm" %>

    </div>
  </div>
</div>

