<div class="container wrapper-light-blue">
  <div class="row justify-content-center">
    <%= image_tag "UI/stage_light_2.png", class: "profile-background" %>
    <div class="col-md-6 px-0">
      <div class="profile-avatar">
        <% if  @user.avatar.attached? %>
          <%= cl_image_tag @user.avatar.key, crop: :fill, class: 'avatar-large' %>
          <!-- else pour image par défaut -->
        <% else %>
          <%= cl_image_tag("https://res.cloudinary.com/dli73zoz7/image/upload/v1659793675/anonymous-avatar-icon-25_r45hmv.png",
            crop: :fill, 
            class: 'avatar-large')
          %>
        <% end %>
      </div>

      <div class="profile-description">
        <% if @user.full_name.nil? && @user == current_user%>
          <div class="user-name-display">
            <h1><%= @user.nickname || @user.full_name ? @user.nickname || @user.full_name : @user.email %></h1>
          </div>

          <% if policy(@user).edit? %>
            <p>Please update your profile <%= render 'layouts/modals/modal_edit_profile', user: @user %></p>
          <% end %>
            <p>Nickname: <%= @user.nickname %></p>
            <p>Email: <%= @user.email %></p>
            <p>Phone: <%= @user.phone %></p>
            <div class="line"></div>
            <div class="bio">
              <p><%= @user.description %></p>
            </div>
            <div class="skills">
              <div class="skills-list">
                <ul>
                  <% @user.skills.order(name: :asc).each do |skill| %>
                    <li><%= skill.name %></li>
                  <% end %>
                </ul>
              </div>
            </div>
        <% else %>
          <div class="user-name-display">
            <h1><%= @user.full_name || @user.nickname || @user.email %></h1>
          </div>
            <% if policy(@user).edit? %>
              <%= render 'layouts/modals/modal_edit_profile', user: @user %>
            <% end %>
              <p>Nickname: <%= @user.nickname %></p>
              <p>Email: <%= link_to @user.email, '#' %></p>
              <p>Phone: <%= link_to @user.phone, 'https://www.thetimes.co.uk/imageserver/image/%2Fmethode%2Ftimes%2Fprod%2Fweb%2Fbin%2Ff5f20120-d2de-11e8-b8d4-d6fb90acb7b1.jpg?crop=3383%2C1903%2C34%2C501&resize=1180'%></p>
              <div class="line"></div>
              <div class="bio">
                <p><%= @user.description %></p>
              </div>
              <div class="skills">
                <!-- <h2>skills</h2> -->
                <div class="skills-list">
                  <ul>
                    <% @user.skills.order(name: :asc).each do |skill| %>
                      <li><%= skill.name %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
          <% end %>
      </div>

      <div class='btn-100-center'> 
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: " log-out" %>
      </div>

    </div>
  </div>
</div>

