<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <!-- <img src="<%#= @user.image_url %>" alt="" class="avatar"> -->

      <% if @user.full_name.nil? && @user == current_user%>
        <h1><%= @user.nickname || @user.full_name ? @user.nickname || @user.full_name : @user.email %></h1>
        <% if policy(@user).edit? %>
          <p>Please update your profile <%= render 'modal_edit_profile', user: @user %></p>
        <% end %>
        <p>Nickname: <%= @user.nickname %></p>
        <p>Name: <%= @user.full_name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Phone: <%= @user.phone %></p>
        <p>Bio: <%= @user.description %></p>
        <p>Skills: </p>
        <ul>
          <% @user.skills.each do |skill| %>
            <li><%= skill.name %></li>
          <% end %>
        </ul>

      <% else %>
        <h1><%= @user.full_name || @user.nickname || @user.email %></h1>
        <% if policy(@user).edit? %>
          <%= render 'modal_edit_profile', user: @user %>
        <% end %>
        <p>Nickname: <%= @user.nickname %></p>
        <p>Name: <%= @user.full_name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Phone: <%= @user.phone %></p>
        <p>Bio: <%= @user.description %></p>
        <p>Skills: </p>
        <ul>
          <% @user.skills.each do |skill| %>
            <li><%= skill.name %></li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
</div>

