<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <!-- <img src="<%#= @user.image_url %>" alt="" class="avatar"> -->

      <% if @user.full_name %>
        <h1>hi, <%= @user.nickname ? @user.nickname : @user.full_name %>!</h1>
        <%= link_to 'edit', edit_user_path(@user) %>
        <p>Nickname: <%= @user.nickname %></p>
        <p>Name: <%= @user.full_name %></p>
        <p>Email: <%= @user.email %></p>
        <p>Phone: <%= @user.phone %></p>
        <p>Bio: <%= @user.description %></p>
        <p>Skills: </p>
        <ul>
          <% @user.skills.each do |skill| %>
            <li><%= skill.name %></li>
          <% end %>
        </ul>

      <% else %>
        <h1>hi, <%= @user.email %></h1>
        <p>please update your profile <%= link_to 'here', edit_user_path(@user) %></p>
      <% end %>

    </div>
  </div>
</div>

