<div class="icon-nav">
  <% if (controller_name == "tours" && action_name == "show") %>
    <!-- =======TOURS SHOW PAGE ICONS====== -->
    <% if policy(@tour).show? %>

      <div class="tours-show">
        <% if policy(@tour).edit? %>
          <%= image_tag "icons/icon_w_plus.svg",
            id: 'plus',
            class: 'icon-round',
            data:  { toggle: "modal",
            target: "#addEventModal"
          } %>

          <%= image_tag "icons/icon_w_edit.svg",
             id: 'edit',
             class: 'icon-round',
             data:  { toggle: "modal",
              target: "#editTourModal"
          } %>
        <% end %>

        <%= image_tag "icons/icon_w_crew.svg",
           id: 'crew',
           class: 'icon-round',
           data:  { toggle: "modal",
            target: "#viewTourMembersModal"
        } %>

        <% if policy(@tour).edit? %>
          <%= image_tag "icons/icon_w_notif.svg",
             id: 'new-notif',
             class: 'icon-round',
             data:  { toggle: "modal",
              target: "#newBroadcastModal"
          } %>
        <% end %>

        <% if user_signed_in? %>
          <%= image_tag "icons/icon_w_bell.svg",
            id: 'notif',
            class: 'icon-round',
            data:  { toggle: "modal",
            target: "#notificationsIndexModal"
          } %>
        <% end %>

      </div>
    <% end %>

  <% elsif (controller_name == "events" && action_name == "show")%>
    <!-- =======EVENTS SHOW PAGE ICONS====== -->
    <div class="events-show">

      <% if policy(@tour).edit? %>

        <%= image_tag "icons/icon_w_edit.svg",
          id: 'edit',
          class: 'icon-round edit-event',
          data:  { toggle: "modal",
          target: "#editEventModal"
        } %>

        <%#= image_tag "icons/icon_w_crew.svg",
           id: 'crew',
           class: 'icon-round',
           data:  { toggle: "modal",
            target: "#editMemberModal"
        } %>

        <!-- =========ADD IMAGE_TAG TO CREATE NEW NOTIF========== -->
        <%#= link_to 'Create new broadcast', new_tour_broadcast_path(@event.tour) %>
        <%= image_tag "icons/icon_w_notif.svg",
           id: 'new-notif',
           class: 'icon-round',
           data:  { toggle: "modal",
            target: "#newBroadcastModal"
        } %>
      <% end %>

      <% if user_signed_in? %>
        <%= image_tag "icons/icon_w_bell.svg",
          id: 'notif',
          class: 'icon-round',
          data:  { toggle: "modal",
          target: "#notificationsIndexModal"
        } %>
      <% end %>

    </div>

  <% elsif (controller_name == "users" && action_name == "show")%>
    <!-- =======USERS SHOW PAGE ICONS====== -->
    <div class="users-show">
      <% if policy(@user).edit? %>
        <%= image_tag "icons/icon_w_edit.svg",
          id: 'edit',
          class: 'icon-round edit-profile',
          data:  { toggle: "modal",
           target: "#editProfileModal"
         } %>
       <% end %>

      <% if user_signed_in? %>
        <%= image_tag "icons/icon_w_bell.svg",
          id: 'notif',
          class: 'icon-round',
          data:  { toggle: "modal",
          target: "#notificationsIndexModal"
         } %>
      <% end %>
    </div>

  <% elsif (controller_name == "tours" && action_name == "index") %>
    <!-- =======TOURS INDEX PAGE ICONS====== -->
    <div class="tours-index">
      <%= image_tag "icons/icon_w_plus.svg",
        id: 'plus',
        class: 'icon-round add-tour',
        data:  { toggle: "modal",
        target: "#addTourModalNEW"
       } %>

      <% if user_signed_in? %>
        <%= image_tag "icons/icon_w_bell.svg",
          id: 'notif',
          class: 'icon-round',
          data:  { toggle: "modal",
          target: "#notificationsIndexModal"
        } %>
      <% end %>
    </div>
  <% end %>
</div>
