<div class="icon-nav">
  <%# if request.path.include?(/tours\d+/) %>
  <% if (controller_name == "tours" && action_name == "show") %>
<!-- =======TOURS SHOW PAGE ICONS====== -->
    <div class="tours-show">
      <%= image_tag "icons/icon_plus.svg",
        id: 'plus',
        class: 'icon-round',
        data:  { toggle: "modal",
        target: "#addEventModal"
      } %>

      <%= image_tag "icons/icon_edit.svg",
         id: 'edit',
         class: 'icon-round',
         data:  { toggle: "modal",
          target: "#editTourModal"
      } %>

      <% if user_signed_in? %>
        <%= image_tag "icons/icon_notif.svg",
          id: 'notif',
          class: 'icon-round',
          data:  { toggle: "modal",
          target: "#notificationsIndexModal"
        } %>
      <% end %>

    </div>

  <% elsif (controller_name == "events" && action_name == "show")%>
<!-- =======EVENTS SHOW PAGE ICONS====== -->
    <div class="events-show">

      <%= image_tag "icons/icon_edit.svg",
        id: 'edit',
        class: 'icon-round',
        data:  { toggle: "modal",
        target: "#editEventModal"
      } %>

      <%= image_tag "icons/icon_crew_round.svg",
         id: 'crew',
         class: 'icon-round',
         data:  { toggle: "modal",
          target: "#editMemberModal"
      } %>

      <% if user_signed_in? %>
        <%= image_tag "icons/icon_notif.svg",
          id: 'notif',
          class: 'icon-round',
          data:  { toggle: "modal",
          target: "#notificationsIndexModal"
        } %>
      <% end %>

<!-- =========ADD IMAGE_TAG TO CREATE NEW NOTIF========== -->

    </div>

  <% elsif (controller_name == "users" && action_name == "show")%>
<!-- =======USERS SHOW PAGE ICONS====== -->
    <div class="users-show">
      <%= image_tag "icons/icon_edit.svg",
        id: 'edit',
        class: 'icon-round',
        data:  { toggle: "modal",
         target: "#editProfileModal"
       } %>

      <% if user_signed_in? %>
        <%= image_tag "icons/icon_notif.svg",
          id: 'notif',
          class: 'icon-round',
          data:  { toggle: "modal",
          target: "#notificationsIndexModal"
         } %>
      <% end %>
    </div>

  <% elsif (controller_name == "tours" && action_name == "index") %>
  <!-- =======TOURS INDEX PAGE ICONS====== -->
    <div class="tours-index">
      <%= image_tag "icons/icon_plus.svg",
        id: 'plus',
        class: 'icon-round',
        data:  { toggle: "modal",
        target: "#addTourModalNEW"
       } %>

      <% if user_signed_in? %>
        <%= image_tag "icons/icon_notif.svg",
          id: 'notif',
          class: 'icon-round',
          data:  { toggle: "modal",
          target: "#notificationsIndexModal"
        } %>
      <% end %>
    </div>
  <% end %>
</div>
