<div class="wrapper-light-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <!-- New Notif icon-->
        <%= link_to new_tour_broadcast_path(@event.tour) do %>
          <%= image_tag "icons/icon_notif.svg", class: 'icon-round', id: 'notif'%>
        <% end %>

        <%#= link_to event_path(event) do %>
          <div class="card-event">
            <div class="card-event-block">
              <div class="row">
                <div class="col-2" id="event">
                  <%= @event.show_start_at.strftime("%b")%>
                  <b><%= @event.show_start_at.strftime("%d")%></b>
                  <%= @event.show_start_at.strftime("%a")%>
                </div>
                <div class="col-8" id="event">
                  <b><%= @event.venue %></b>
                  <%= @event.city %>
                </div>
                <div class="col-2" id="event-photo">
                    <%= image_tag "icons/icon_arrow.svg", alt: "alttext" %>
                </div>
              </div>
            </div>
          </div>
        </div>


        <%# if policy(@tour).edit? %>
          <%= render 'layouts/modals/modal_edit_event', event: @event %>
        <%# end %>

        <% @event.tour_members.each do |tour_member| %>
          <p><strong><%= tour_member.job_title %></strong> - <%= link_to (tour_member.user.full_name ? tour_member.user.full_name : tour_member.user.email), user_path(tour_member.user) %></p>
        <% end %>

        <%= render 'layouts/modals/modal_manage_members_for_specific_event', event: @event %>

        <%= link_to 'Back to tour', tour_path(@tour), class: "btn btn-link btn-sm" %>

      </div>
    </div>
  </div>
</div>
