<div class="wrapper-orange">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 px-0">

        <div class="card-event">
          <div class="card-event-block">
            <div class="row">
              <div class="col-2" id="event">
                <h3> <%= @event.show_start_at.strftime("%b")%> </h3>
                <h3><strong> <%= @event.show_start_at.strftime("%d")%> </strong></h3>
                <h3> <%= @event.show_start_at.strftime("%a")%> </h3>
              </div>
              <div class="col-8" id="event-venue">
                <h3><strong> <%= @event.venue %> </strong></h3>
                <p> <%= @event.city %> </p>
              </div>
              <div class="col-2" id="event-time">
                <h3><strong> <%= @event.show_start_at.strftime("%l:%M")%> </strong></h3>
                <h3> <%= @event.show_start_at.strftime("%p")%> </h3>
              </div>
            </div>
          </div>
        </div>

        <div class="schedule-title">
          <p>SCHEDULE</p>
        </div>
        <div class="schedule">
          <%= @event.schedule %>
        </div>
        <div class="schedule-title">
          <p>EVENT TEAM</p>
        </div>
        <div class="event-team">
          <% @event.tour_members.order(job_title: :asc).each do |tour_member| %>
            <p><%= tour_member.job_title %></p><%= link_to (tour_member.user.full_name ? tour_member.user.full_name : tour_member.user.email), user_path(tour_member.user) %>
          <% end %>
        </div>

        <%= link_to 'Back', tour_path(@tour), class: "btn back-button-white btn-100-center" %>

        <% if policy(@tour).edit? %>
          <%= render 'layouts/modals/modal_edit_event', event: @event %>
          <%= render 'layouts/modals/modal_new_broadcast', tour: @event.tour, broadcast: @broadcast %>
          <%= render 'layouts/modals/modal_view_event_members', tour: @event.tour, event: @event %>
        <% end %>

      </div>
    </div>
  </div>
</div>
