<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <%#= link_to event_path(event) do %>
        <div class="card-event">
          <div class="card-event-block">
            <div class="row">
              <div class="col-2" id="event">
                <%= @event.show_start_at.strftime("%b")%>
                <b><%= @event.show_start_at.strftime("%d")%></b>
                <%= @event.show_start_at.strftime("%a")%>
              </div>
              <div class="col-8" id="event">
                <b><%= @event.venue %></b>
                <%= @event.city %>
              </div>
              <div class="col-2" id="event-photo">
                  <%= image_tag "icons/icon-arrow-right.png", alt: "alttext" %>
              </div>
            </div>
          </div>
        </div>
      <%# end %>

      <b>Schedule: <%= @event.schedule %></b>

      <%# if policy(@tour).edit? %>
        <%= render 'layouts/modals/modal_edit_event', tour: @tour, event: @event %>
        <%= link_to 'Delete this event', event_path(@event), method: :delete, class: 'btn btn-secondary btn-sm' %>
      <%# end %>

      <%= link_to 'Back to tour', tour_path(@tour), class: "btn btn-link btn-sm" %>

    </div>
  </div>
</div>
