<%= simple_form_for(@tour) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Name:' %>
    <%= f.input :artist_name, label: 'Artist name:' %>
    <%= f.input :logo_url, label: 'Logo URL:' %>
  </div>
  <%= f.simple_fields_for(:tour_members) do |ftm| %>
    <%= render 'tour_member_fields', f: ftm%>
  <% end %>
  <div class="links"><%= link_to_add_association 'add tour member', f, :tour_members%></div>

  <div class="form-actions d-flex justify-content-center">
    <%= f.button :submit, class: 'btn btn-secondary' %>
  </div>
<% end %>
