<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editMemberModal">
  Edit the tour members
</button>

<div class="modal fade" id="editMemberModal" tabindex="-1" role="dialog" aria-labelledby="editMemberModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMemberModalTitle">Edit Tour Members</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for(@tour) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.simple_fields_for(:tour_members) do |ftm| %>
            <%= render 'tour_member_fields', f: ftm %>
          <% end %>
        </div>
        <div class="links"><%= link_to_add_association 'Add a tour member', f, :tour_members %></div>

        <div class="form-actions d-flex justify-content-center">
          <%= f.button :submit, class: 'btn btn-secondary', value: "Edit Tour Members" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
