<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addEventModal">
  Add an event
</button>

<div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEventModalTitle">Add Event</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


      <%= simple_form_for([@tour, @event]) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

        <div class="form-inputs">
          <%= f.input :show_start_at, label: 'Show starts at:', html5: true, input_html: { class: 'show-start-at' } %>
          <%= f.input :schedule, as: :rich_text_area, label: 'Schedule', placeholder: 'Text goes here' %>
        </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            <%= f.button :submit, class: 'btn btn-primary btn-sm', value: 'Add an event' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
