<div class="container">
  <div class="row justify-content-center">

    <div class="col-md-6">
      <% if policy(Tour).create? %>
        <%= render 'modal_add_tour', tour: @tour %>
      <% end %>

      <br>
      <br>

      <% @tours.each do |tour| %>
        <%= link_to tour_path(tour) do %>
          <% if tour.logo.present? %>
            <div class="card-tour" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path tour.logo.key, height: 300, width: 400, crop: :fill %>)'>
              <h2><%= tour.name %></h2>
              <p><%= tour.artist_name %></p>
            </div>
          <% else %>
            <div class="card-tour" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567942712661-82b9b407abbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1334&q=80)">
            <h2><%= tour.name %></h2>
            <p><%= tour.artist_name %></p>
            </div>
          <% end %>
        <% end %>
      <% end %>

    </div>
  </div>
</div>
