<div class="wrapper-light-blue">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 px-0 ">

        <% if policy(@tour).edit? %>
          <%= render 'layouts/modals/modal_new_broadcast', tour: @tour, broadcast: @broadcast %>
          <%= render 'layouts/modals/modal_edit_tour', tour: @tour %>
          <%= render 'layouts/modals/modal_add_event', tour: @tour %>
        <% end %>

        <% if policy(@tour).show? %>
          <%= render 'layouts/modals/modal_view_tour_members', tour_members: @uniq_tour_members %>
        <% end %>

  <!-- ITERATION OVER EVENT LISTS -->
        <% @events.each do |event| %>
          <% if policy(event).show? %>
            <%= link_to event_path(event) do %>
              <div class="card-event">
                <div class="card-event-block">
                  <div class="row event-list-flex">
                    <div class="col-2" id="event">
                      <h3> <%= event.show_start_at.strftime("%b")%> </h3>
                      <h3><strong> <%= event.show_start_at.strftime("%d")%> </strong></h3>
                      <h3> <%= event.show_start_at.strftime("%a")%> </h3>
                    </div>
                    <div class="col-8" id="event-venue">

                      <h3><strong> <%= event.venue %> </strong></h3>

                      <p> <%= event.city %> </p>
                    </div>
                    <div class="col-2" id="event-photo">
                        <%= image_tag "icons/icon_arrow.svg", alt: "alttext", class: 'icon-blue ' %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
        <div class="btn-back">
          <%= link_to 'Back', root_path, class: "btn back-button btn-100-center" %>
        </div>
      </div>
    </div>
  </div>
</div>
