<h1>Tours#show</h1>

<br>
<br>

<%= link_to 'Edit this tour', edit_tour_path(@tour) %>
<%= link_to 'Delete this tour', tour_path(@tour), method: :delete %>

<h1><%= @tour.name %></h1>
<p>Artist name: <%= @tour.artist_name %></p>
<i>Logo URL: <%= @tour.logo_url %></i>

<br>
<br>

<b>Events</b>
<%= link_to 'Add an event', new_tour_event_path(@tour) %>

<br>
<br>

<% @events.each do |event| %>
  <b><%= link_to event.show_start_at, event_path(event) %></b>
  <i><%= event.schedule %></i>
  <br>
  <br>
<% end %>

<br>
<br>

<b>Tour members</b>
<%#= link_to 'Add a tour member', new_tour_tour_member_path(@tour) %>

<br>
<br>

<% @tour_members.each do |tour_member| %>
  <p><%= tour_member.job_title %> - User_id: <%= tour_member.user_id %></p> <%#= link_to 'Edit this tour member', edit_tour_member_path(tour_member) %> <%#= link_to 'Delete this tour member', tour_member_path(tour_member), method: :delete %>
  <br>
  <br>
<% end %>

<br>
<br>

<%= link_to 'Back', tours_path %>
