<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <% if policy(@tour).edit? %>
        <%= render 'modal_edit_tour', tour: @tour %>
      <% end %>
      <% if policy(@tour).destroy? %>
        <%= link_to 'Delete this tour', tour_path(@tour), method: :delete, class: 'btn btn-secondary' %>
      <% end %>

      <br>

      <h1><%= @tour.name %></h1>
      <p>Artist name: <%= @tour.artist_name %></p>
      <% if @tour.logo.present?%>
        <%= cl_image_tag @tour.logo.key, height: 300, width: 400, crop: :fill %>
      <% end %>

      <br>

      <p>Events</p>

      <% if policy(@tour).edit? %>
        <%= render 'modal_add_event', tour: @tour %>
      <% end %>

      <br>

      <% @events.each do |event| %>
        <p><strong><%= link_to event.show_start_at.strftime("%I:%M%p %a %b %d"), event_path(event) %></strong> | <%= event.venue %></p>
        <p><%= event.city %></p>
        <br>
      <% end %>

      <p>Tour members</p>

      <% if policy(@tour).edit? %>
        <%= render 'modal_edit_member', tour: @tour %>
      <% end %>

      <% @tour_members.each do |tour_member| %>
        <p><strong><%= tour_member.job_title %></strong> - <%= link_to (tour_member.user.full_name ? tour_member.user.full_name : tour_member.user.email), user_path(tour_member.user) %></p>
      <% end %>

      <%= link_to 'Back', root_path, class: "btn btn-link btn-sm" %>

    </div>
  </div>
</div>
