<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <% if @tour.logo.present? %>
        <div class="card-category" style='background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @tour.logo.key, height: 300, width: 400, crop: :fill %>)'>
          <h2><%= @tour.name %></h2>
          <p><%= @tour.artist_name %></p>
        </div>
      <% else %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1567942712661-82b9b407abbf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1334&q=80)">
          <h2><%= @tour.name %></h2>
          <p><%= @tour.artist_name %></p>
        </div>
      <% end %>

      <% if policy(@tour).edit? %>
        <%= render 'modal_edit_tour', tour: @tour %>
      <% end %>
      <% if policy(@tour).destroy? %>
        <%= link_to 'Delete this tour', tour_path(@tour), method: :delete, class: 'btn btn-secondary btn-sm' %>
      <% end %>

      <br>

      <b>EVENTS</b>

      <br>

      <% if policy(@tour).edit? %>
        <%= render 'modal_add_event', tour: @tour %>
      <% end %>

      <br>

      <% @events.each do |event| %>
        <p><strong><%= link_to event.show_start_at.strftime("%I:%M%p %a %b %d"), event_path(event) %></strong> | <%= event.venue %></p>
        <p><%= event.city %></p>
        <br>
      <% end %>

      <b>TOUR MEMBERS</b>

      <br>

      <% if policy(@tour).edit? %>
        <%= render 'modal_edit_member', tour: @tour %>
      <% end %>

      <br>

      <% @tour_members.each do |tour_member| %>
        <p><strong><%= tour_member.job_title %></strong> - <%= link_to (tour_member.user.full_name ? tour_member.user.full_name : tour_member.user.email), user_path(tour_member.user) %></p>
      <% end %>

      <br>

      <%= link_to 'Back', root_path, class: "btn btn-link btn-sm" %>

    </div>
  </div>
</div>
